<footer class="bg-dark p-3 mt-3 text-light">
    {{title}} is made with the <a href="https://hvrd.art/api">Harvard Art Museums API</a>, <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://getbootstrap.com/">Bootstrap</a>.
</footer>