<div class="container">
    <div class="row">
        <div class="col-6">
            {{{object.stories.html}}}

            <hr> 

            {{object.stories.plaintext}}
        </div>
        <div class="col-6">
            <pre>{{object.raw}}</pre>
        </div>
    </div>
</div>